{% extends 'accounts/base.html' %}

{% block content %}
<h1>Employees and tasks</h1>
<table>
    <tr>
        <td>Task</td>
        <td>Employee</td>
        <td>Project</td>
        <td>Description</td>
    </tr>

    {% for task in tasks %}
        <tr>
            {% if perms.accounts.change_task %}
            <td><a href={% url 'task_detail' task_id=task.id %}>{{task.task_name}}</a></td>
            {% else %}
            <td>{{task.task_name}}</td>
            {% endif %}
            <td>{{task.employee}}</td>
            <td>{{task.project}}</td>
            <td>{{task.description}}</td>
        </tr>
    {% endfor %}
</table>
{% if perms.accounts.add_task %}
<a href={% url 'task_add' %}>Add new task for employee</a>
{% endif %}
{% endblock %}
